<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
	<main class="container">
		<h1>Available Apartments List</h1>
		<ul>
			<% apartments.forEach(apartment=> { %>
				<li>
					<a href="/apartment/<%= apartment._id %>">
						<h2>
							<%= apartment.title %>
						</h2>
						<p>Price per night: $<%= apartment.price %>
						</p>
						<p>Square meters: <%= apartment.size %> sqm</p>
						<p>Max Persons: <%= apartment.maxPersons %>
						</p>

						<% if (apartment.availableDates && apartment.availableDates.length> 0) { %>
							<p>Available Dates:</p>
							<ul>
								<% apartment.availableDates.forEach(dateRange=> { %>
									<li>
										<%= new Date(dateRange.startDate).toLocaleDateString() %> -
											<%= new Date(dateRange.endDate).toLocaleDateString() %>
									</li>
									<% }) %>
							</ul>
							<% } else { %>
								<p>No available dates listed</p>
								<% } %>

									<img src="<%= apartment.mainPhoto %>" alt="<%= apartment.title %> photo"
										width="200">
					</a>

					<% if (isAdmin) { %>
						<div class="actions">
							<form action="/admin/apartment/<%= apartment._id %>/edit" method="GET"
								style="display:inline;">
								<button type="submit">Edit</button>
							</form>
							<form action="/admin/apartment/<%= apartment._id %>" method="POST" style="display:inline;">
								<button type="submit">Delete</button>
							</form>
						</div>
						<% } %>
				</li>
				<% }) %>
		</ul>
	</main>
</body>

</html>