<!DOCTYPE html>
<html lang="ca">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Llista d'Apartaments</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
	<main class="container">
		<h1>Llista d'Apartaments Disponibles</h1>
		<ul>
			<% apartments.forEach(apartment=> { %>
				<li>
					<a href="/apartment/<%= apartment._id %>">
						<h2>
							<%= apartment.title %>
						</h2>
						<p>Preu per nit: $<%= apartment.price %>
						</p>
						<p>Metres quadrats: <%= apartment.size %> sqm</p>
						<img src="<%= apartment.mainPhoto %>" alt="<%= apartment.title %> photo" width="200">
					</a>
				</li>
				<% }) %>
		</ul>
	</main>
</body>

</html>